{% extends "buyer/base.html" %}
{% load tagggggg %}
{% block title %}
    购物车
{% endblock %}
{% block content %}

	<div class="total_count">全部商品<em>2</em>件</div>	
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>

    {% for goods in goods_list%}
    <ul class="cart_list_td clearfix">

		<li class="col01"><input type="checkbox" name="" checked></li>
		<li class="col02"><img src="/static/{{ goods.goods_id|cart }}"></li>
		<li class="col03">{{ goods.goods_name }}<br><em>{{ goods.goods_price }}元/500g</em></li>
		<li class="col04">{{ goods.goods_num }}*500g</li>
        <li class="col05"><em id="price">{{ goods.goods_price }}</em></li>
		<li class="col06">
			<div class="num_add">
				<a href="javascript:optionNum('add');" class="add fl">+</a>
				<input type="text" class="num_show fl" value="{{ goods.goods_num }}">
				<a href="javascript:optionNum('minus');" class="minus fl">-</a>
			</div>
		</li>
		<li class="col07"><em id="total"><input type="text" value="{{ goods.total }}"></em>元</li>
		<li class="col08"><a href="javascript:;">删除</a></li>
	</ul>
    {% endfor %}
	<ul class="settlements">
		<li class="col01"><input type="checkbox" name="" checked=""></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em>{{ goods.total }}</em><br>共计<b>2</b>件商品</li>
		<li class="col04"><a href="/buyer/pay_order/">去结算</a></li>
	</ul>
{% endblock %}
{% block script %}
    <script>
        function optionNum(data) {
            var goods_price=$("#price").text();
            var num = $("#num_show").val();
            console.log(num);
            total = goods_price * num;
            if (data == "add") {
                num++;
            } else if (data == "minus" && num > 1) {
                num--;
            } else {
                num = 1
            }
            $("#num_show").val(num);

            $("#total").text(total);
        }
    </script>
{% endblock %}