{% extends "buyer/base.html" %}
{% block title %}
    首页
{% endblock %}
{% block content %}

    <div class="breadcrumb">
        <a href="/buyer/index/">全部分类</a>
        <span>></span>
        <a href="/buyer/goods_list/?id={{ goods.goods_type_id }}">{{ goods_type.name }}</a>
        <span>></span>
        <a href="#">商品详情</a>
    </div>

    <div class="goods_detail_con clearfix">
        <div class="goods_detail_pic fl"><img src="/static/{{ goods.goods_image }}" style="width: 350px;height: 350px">
        </div>

        <div class="goods_detail_list fr">
            <h3>{{ goods.goods_name }}</h3>
            <p>{{ goods.goods_description }}</p>
            <div class="prize_bar">
                <span class="show_pirze">¥<em>{{ goods.goods_price }}</em></span>
                <span class="show_unit">单  位：500g</span>
            </div>
            <div class="goods_num clearfix">
                <div class="num_name fl">数 量：</div>
                <div class="num_add fl">
                    <input type="text" class="num_show fl" id="num_show" value="1">
                    <a href="javascript:optionNum('add');" class="add fr">+</a>
                    <a href="javascript:optionNum('minus');" class="minus fr">-</a>
                </div>
            </div>
            <div class="total">总价：
                <em>
                    <input style="pointer-events: none;border: none" id="price" value="{{ goods.goods_price }}">元
                </em>
            </div>
            <div class="operate_btn">
                <button id="order_detail" class="buy_btn">立即购买</button>
                <button id="add_cart" class="add_cart">加入购物车</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        var goods_price = $("#price").val();
        var num = $("#num_show").val();
        var total = goods_price * num;

        function optionNum(data) {
            num = $("#num_show").val();
            if (data == "add") {
                $("#num_show").val(++num);
            } else if (data == "minus" && num > 1) {
                $("#num_show").val(--num);
            } else {
                num = 1
            }
            total = goods_price * num;
            $("#price").val(total);
        }

        $("#order_detail").click(
            function () {
                $("#order_detail").href(
                    location.href = '/buyer/place_order/?' +
                        'goods_name={{ goods.goods_name }}&goods_price={{ goods.goods_price }}&goods_num=' +
                        num +
                        '&total=' +
                        total
                )

            }
        );
        $("#add_cart").click(
            function () {
                $("#add_cart").href(
                    location.href = '/buyer/add_cart/?' +
                        'goods_name={{ goods.goods_name }}&goods_price={{ goods.goods_price }}&goods_num=' +
                        num +
                        '&total=' +
                        total
                )

            }
        )
    </script>

{% endblock %}
