{% extends "buyer/base.html" %}
{% block title %}
    首页
{% endblock %}
{% block content %}
    <div class="center_con clearfix">
        <ul class="subnav fl">
            <li><a href="#model01" class="fruit">新鲜水果</a></li>
            <li><a href="#model02" class="seafood">海鲜水产</a></li>
            <li><a href="#model03" class="meet">猪牛羊肉</a></li>
            <li><a href="#model04" class="egg">禽类蛋品</a></li>
            <li><a href="#model05" class="vegetables">新鲜蔬菜</a></li>
            <li><a href="#model06" class="ice">速冻食品</a></li>
        </ul>
        <div class="slide fl">
            <ul class="slide_pics">
                <li><img src="/static/buyer/images/slide.jpg" alt="幻灯片"></li>
                <li><img src="/static/buyer/images/slide02.jpg" alt="幻灯片"></li>
                <li><img src="/static/buyer/images/slide03.jpg" alt="幻灯片"></li>
                <li><img src="/static/buyer/images/slide04.jpg" alt="幻灯片"></li>
            </ul>
            <div class="prev"></div>
            <div class="next"></div>
            <ul class="points"></ul>
        </div>
        <div class="adv fl">
            <a href="#"><img src="/static/buyer/images/adv01.jpg"></a>
            <a href="#"><img src="/static/buyer/images/adv02.jpg"></a>
        </div>
    </div>
    <div class="main_wrap clearfix">

        <div class="r_wrap fr clearfix">
            <div class="sort_bar">
                <a href="#" class="active">默认</a>
                <a href="#">价格</a>
                <a href="#">人气</a>
            </div>

            <ul class="goods_type_list clearfix">
                {% for goods in goodsList %}
                <li>
                    <a href="/buyer/goods_detail/?id={{ goods.id }}"><img src="/static/{{ goods.goods_image }}"></a>
                    <h4><a href="/buyer/goods_detail/?id={{ goods.id }}">{{ goods.goods_name }}</a></h4>
                    <div class="operate">
                        <span class="prize">￥{{ goods.goods_price }}</span>
                        <span class="unit">{{ goods.goods_price }}/500g</span>
                        <a href="#" class="add_goods" title="加入购物车"></a>
                    </div>
                </li>
                {% endfor %}
            </ul>

            <div class="pagenation">
                <a href="#">上一页</a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">下一页></a>
            </div>
        </div>
    </div>

{% endblock %}
