{% extends "buyer/base_user.html" %}
{% block title %}
    添加地址
{% endblock %}
{% block contents %}

    <div class="right_content clearfix">
        <h3 class="common_title2">收货地址</h3>
        <div class="site_con">
            <dl>
                <dt>当前地址：</dt>
                <dd>北京市 海淀区 东北旺西路8号中关村软件园 （李思 收） 182****7528</dd>
            </dl>
        </div>
        <h3 class="common_title2">编辑地址</h3>
        <div class="site_con">
            <form>
                <div class="form_group">
                    <label>收件人：</label>
                    <input type="text" name="recver">
                </div>
                <div class="form_group form_group2">
                    <label>详细地址：</label>
                    <textarea class="site_area" name="address"></textarea>
                </div>
                <div class="form_group">
                    <label>邮编：</label>
                    <input type="text" name="post_number">
                </div>
                <div class="form_group">
                    <label>手机：</label>
                    <input type="text" name="recver_phone">
                </div>

                <input type="submit" name="" value="提交" class="info_submit">
            </form>
        </div>
        <table>
            <tr class="form-group">
                <td><label>店铺地址：</label></td>
                <td>
                    <select name="province" id="province">
                        <option value="">请选择省份</option>
                    </select>--
                    <select name="city" id="city">
                        <option value="">请选择城市</option>
                    </select>--
                    <select name="district" id="district">
                        <option value="">请选择区/县</option>
                    </select>
                </td>
            </tr>
            <tr class="form-group">
                <td></td>
                <td><textarea class="btn-block" name="detail" placeholder="请输入详细地址"></textarea></td>
            </tr>
        </table>
    </div>

{% endblock %}