{% extends "buyer/base.html" %}
{% block title %}
    用户中心
{% endblock %}
{% block content %}


    <div class="main_con clearfix">
        <div class="left_menu_con clearfix">
            <h3>用户中心</h3>
            <ul>
                <li><a href="user_center_info.html" class="active">· 个人信息</a></li>
                <li><a href="user_center_order.html">· 全部订单</a></li>
                <li><a href="user_center_site.html">· 收货地址</a></li>
            </ul>
        </div>
        <div class="right_content clearfix">
            <div class="info_con clearfix">
                <h3 class="common_title2">基本信息</h3>
                <ul class="user_info_list">
                    <li><span>用户名：</span>{{ user.username }}</li>
                    <li><span>联系方式：</span>{{ user.phone }}</li>
                    <li><span>联系地址：</span>{{ user.connect_address }}</li>
                    <li><span><a href="">修改信息</a></span></li>
                </ul>
            </div>
            <table>
                <tr class="form-group">
                    <td><label>店铺地址：</label></td>
                    <td>
                        <select name="province" id="province">
                            <option value="">请选择省份</option>
                        </select>--
                        <select name="city" id="city">
                            <option value="">请选择城市</option>
                        </select>--
                        <select name="district" id="district">
                            <option value="">请选择区/县</option>
                        </select>
                    </td>
                </tr>
                <tr class="form-group">
                    <td></td>
                    <td><textarea class="btn-block" name="detail" placeholder="请输入详细地址"></textarea></td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
